---
//components
import Slider from '../components/Slider/Slider.tsx';
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <section class="slide">
	    <Slider client:load/>
	</section>
</Layout>
