---
//components
import Slider from '../components/Slider/Slider.tsx';
import Card from '../components/Card/Card.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="slide">
	    <Slider client:load/>
	</section>

	<section class="grid grid-cols-2 ">
	    <Card titulo="Visão" descricao="Ver o Huambo reconhecido como um polo tecnólogico nacional, impulsionado por jovens compremetidos com o futuro." background="bg-cdh-orange"/>
		<Card titulo="Missão" descricao="Ser uma ponte entre o potencial humano nas tecnologias e as oportunidades emergentes"/>
 	</section>
</Layout>
