<footer class="footer p-5  pb-2 bt-2 bottom-0 border-2 w-full md:text-center">
	<section class="copyriht">
		<h3 class="font-bold inline">CDH</h3>
		<p class="font-small inline m-5">
			<small>&copy; - 2025 | <strong>Comunidade de Desenvolvimento do Huambo</strong></small>
		</p>
	</section>
</footer>