<footer class="footer p-5  pb-2 bt-2 bottom-0 border-2 w-full md:text-center">
	<section class="copyriht container text-center">
		&copy {new Date().getFullYear()} - CDH. Todos os direitos reservados.
	</section>
</footer>