---
import MobileMenu from "../components/MobileMenu/MobileMenu.astro";

const links = [
  { href: "/", label: "Início" },
  { href: "/quem-somos", label: "Sobre" },
  { href:"/blog", label: "Blog"},
  { href: "#", label: "Contato" },
];
---

<header class="w-full bg-white shadow-md">
  <section class="max-w-7xl mx-auto flex items-center justify-between p-4">
    <!-- Logo -->
    <div class="text-2xl font-bold">CDH</div>

    <!-- Menu desktop -->
    <nav class="hidden md:flex gap-8 text-gray-700 font-medium">
      {links.map((link) => (
        <a
          href={link.href}
          class="hover:text-blue-600 transition"
        >
          {link.label}
        </a>
      ))}
    </nav>

    <!-- Botão menu mobile -->
    <button
      class="md:hidden p-2 rounded-lg border border-gray-300 hover:bg-gray-100"
      aria-label="Abrir menu"
      id="menu-toggle"
    >
      ☰
    </button>
  </section>

  <!-- mobile menu -->
  <MobileMenu links={links} />
</header>
