<header class="header p-5 pb-2 flex justify-between top-0 w-full border-b-2 fixed bg-white">
  <section class="title-logo w-full">
    <h1 class="font-bold text-lg">CDH</h1>
  </section>

  <section class="menu-nav w-full text-right">
    <nav>
      <ul>
        <li class="inline ml-5"><a href="/">Home</a></li>
        <li class="inline ml-5"><a href="#">Eventos</a></li>
        <li class="inline ml-5"><a href="/blog">Blog</a></li>
		<li class="inline ml-5"><a href="/quem-somos">Quem Somos</a></li>
        <li class="inline ml-5"><a href="#">Contato</a></li>
      </ul>
    </nav>
  </section>
</header>
